/* Estilos gerais */
body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .max-width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Estilos para a barra de navegação */
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar__links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar__links li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar__links li:last-child {
    margin-right: 0;
  }
  
  .navbar__links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navbar__links a:hover {
    color: #ffd700;
  }
  
  /* Estilos para o menu mobile */
  .navbar__mobile {
    display: none;
  }
  
  .burguer {
    display: none;
    cursor: pointer;
  }
  
  .mobile__links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .mobile__links li {
    margin-bottom: 10px;
  }
  
  .mobile__links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Estilos para o cabeçalho */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .header__left {
    flex: 1;
    margin-right: 20px;
  }
  
  .header__right {
    flex: 1;
  }
  
  .header__image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para a seção Sobre */
/* Estilos para a seção Sobre */
.about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px; /* Aumentando o espaçamento superior */
    margin-bottom: 50px; /* Aumentando o espaçamento inferior */
  }
  .about__left p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    flex: 1;
  } 
  .about__left {
    flex: 1;
  }
  
  .about__right {
    flex: 1;
  }
  
  .about__right p {
    color: #555;
    line-height: 1.6;
    font-size: 16px; /* Ajustando o tamanho da fonte */
  }
 
  .about__right h2{
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    padding: 2px;
    display: inline-block;
    margin: 0 3px;
    border-radius: 10px;

  }

  .about__experience {
    margin-top: 20px;
  }
  
  .about__experience .tertiary-title {
    margin-top: 10px;
    font-size: 20px; /* Ajustando o tamanho da fonte */
  }
  
  /* Estilos para a seção de habilidades */
  .skills {
    background-color: #fff;
    padding: 50px 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .skills__content {
    text-align: center;
  }
  
  .skills__item {
    list-style: none;
    margin-bottom: 40px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 30px;
    transition: transform 0.3s ease;
  }
  
  .skills__item:hover {
    transform: translateY(-5px);
  }
  
  .skills__item h3 {
    margin-top: 20px;
  }
  
  .skills__item p {
    color: #555;
  }
  
  /* Estilos para a seção de projetos */
  .projects {
    padding: 50px 0;
  }
  
  .projects__content {
    text-align: center;
  }
  
  .projects__info a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .projects__info a:hover {
    color: #ffd700;
  }
  
  /* Estilos para o rodapé */
  footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    border-top: 1px solid #666;
  }
  
  .footer__contact span {
    display: block;
  }
  
  .footer__contact span:last-child {
    margin-top: 10px;
  }
  
  .footer__copyright {
    margin-top: 20px;
  }
  